@model MarketPlace_DAL.tblProduct

@{
    
        ViewBag.Title = "SearchPage";
        Layout = "~/Views/Shared/_site.cshtml";
    
}

<div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">

            <select class="custom-select label-primary" id="slt-category">
                <option selected>Category</option>
                <option value="1">Mechanical</option>
                <option value="2">Electrical</option>
                <option value="3">Stationary</option>
                <option value="4">Furniture</option>
            </select>
        </div>
        @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control txt-prod-search", @placeholder = "Enter product here.." } })
        <button style="margin-left:5px" id="btn-search-product" class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
    </div>



</div>


